# configuration for the database connection for typeorm
DB_NAME=tc_stats_server
DB_USER=tc_stats_server
DB_PASSWORD=make-a-useful-password

# this is the p[ort the server runs on. The client depends on this.
PORT=3003

# for having a look-see at all the queries typeorm is generating
TYPEORM_LOG_QUERIES=false
# leave this alone
TYPEORM_SYNCH_DATABASE=false

# credentials for talking to the VR API
VRAPI_USER=tsapi_tc_884b
VRAPI_PASSWORD=gotta get this from tennis canada


#credentials for talking to the ITF API
ITFAPI_URL=https://na.itfdataservices.com/api/v2.1/NationalAssociations/
ITFAPI_USER=Competition.Data@tenniscanada.com
ITFAPI_PASSWORD=gotta get this from tennis canada

# how many days back in time to we get data from the ITF API
ITF_LOADER_PERIOD=21

# When uploading tournaments from the VRAPI:
#  stop after this many
TOURNAMENT_UPLOAD_LIMIT=100
#  go back this far. Delete this once you are back to 2013
#  and the system will only look at the last several months.
TOURNAMENT_UPLOAD_START_YEAR=2018
#  What percentage of Box Ladders should be reloaded when loading tournaments
#  This is due to VR not setting the LastUpdated attribute of Box Ladders
#  when match scores are added, so we do not know for sure when to reload them.
BOX_LADDER_FORCE_RELOAD_PERCENT=5

# When uploading rankings publications from the VRAPI, stop after this many
# 2 is a good number for a running system
RANKING_PUBLICATION_UPLOAD_LIMIT=10

# When generating UTR reports, look back to matches from any tournaments that
# were updated in VR within the last n days
UTR_REPORT_GOES_BACK_IN_DAYS=45

# when generating a UTR Report put the result here
UTR_REPORT_DIRECTORY=/home/tc-reports/utr

# when generating a Match Competitive report, put the result here
MATCH_COMPETITIVENESS_REPORT_DIRECTORY=/home/ted/tc-reports/match-competitiveness

# How many days back to sync the calendar tournament DB with the tcStats DB
CALENDAR_DB_SYNC_PERIOD=29

# For Tennis BC Membership renewal.
# Number of candidate matches to keep when doing membership checks
HOW_MANY_CANDIDATE_MATCHES=4
CANDIDATE_MATCH_SCORE_THRESHOLD=0

# For signing JWT Keys (required)
# Choose a different random JWT_SECRET for deployment.
# Go grab one here=true
JWT_SECRET=526AEDC85E2A26E4BDAAB57F005F6F51BF201906C7D19E53DBEAC7B5A463FA6A

# Web tokens expire after this and the user will have to log in again.
JWT_DURATION=600m

# For configuring email. The system will send emails using SMTP using the
# configuration options below.

# the address from which emails come
MAIL_FROM=emailaddresswheresystememailscomefrom

# a place users can respond to (I use a gmail address for this)
MAIL_REPLY_TO=emailaddresswhereuserscanrespond

# a copy of all messages will go here (I use the same gmail address for this)
MAIL_CC=emailaddresswherealloutgoingemailiscopiedto

# your mail host
MAIL_HOST=hostAddressForSendingEmails

# user id on the mail host - does not have to be an e-mail address.
MAIL_USER=userIdOnTheHost

# make the password really good.
# Use Diceware or some auto password generator to generate this.
MAIL_PASSWORD=reallygoodpasswordonsaidhost

# For creating a default admin user and password.
# This user should probably be specific to each facility
# when starting up, if there is no admin user, this one will
# be added in a state that requires password change
DEFAULT_ADMIN_USER_NAME=thePersonWhoGetsAdminEmails
DEFAULT_ADMIN_USER_EMAIL=thePersonWhoGetsAdminEmails@email.com
DEFAULT_ADMIN_USER_PASSWORD=aGoodPassword


