# configuration for the database connection for typeorm
DB_NAME=tc_stats
DB_USER=tc_stats_server
DB_PASSWORD=make-a-useful-password

# for having a look-see at all the queries typeorm is generating
TYPEORM_LOG_QUERIES=false
# leave this alone
TYPEORM_SYNCH_DATABASE=false

# credentials for talking to the VR API
VRAPI_USER=tsapi_tc_884b
VRAPI_PASSWORD=gotta get this from tennis canada


#credentials for talking to the ITF API
ITFAPI_URL=https://na.itfdataservices.com/api/v2.1/NationalAssociations/
ITFAPI_USER=Competition.Data@tenniscanada.com
ITFAPI_PASSWORD=gotta get this from tennis canada

#credentials for talking to the ITF Tennis Number API
#TNAPI_API_URL=https://itf-stage.clubspark.pro/tods-gw-api/graphql
#TNAPI_AUTHENTICATION_URL=https://stage-auth-itf.clubspark.uk/issue/oauth2/token
#TNAPI_USER=tennis.canada@clubspark.com
#TNAPI_PASSWORD=gotta get this from tennis canada
#TNAPI_SCOPE=https://stage-api-itf.clubspark.uk/token/
#TNAPI_BASIC_AUTH=secret
#TNAPI_PROVIDER_ID=secret

# For uploading UTR reports to the seafile server
SEAFILE_URL=https://www.tcfiles.ca/api2
SEAFILE_ID=ted.moens@gmail.com
SEAFILE_PASSWORD=this is a secret
SEAFILE_REPO_NAME=UTR3

# When uploading tournaments from the VRAPI:
#  stop after this many
TOURNAMENT_UPLOAD_LIMIT=100
#  go back this far. Delete this once you are back to 2013
#  and the system will only look at the last several months.
TOURNAMENT_UPLOAD_START_YEAR=2018

# When uploading rankings publications from the VRAPI, stop after this many
# 2 is a good number for a running system
RANKING_PUBLICATION_UPLOAD_LIMIT=10

# When generating UTR reports, look back to matches from any tournaments that
# were updated in VR within the last n days
UTR_REPORT_GOES_BACK_IN_DAYS=45

# Number of candidate matches to keep when doing membership checks
HOW_MANY_CANDIDATE_MATCHES=4
